# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath
.factorypath
.sts4-cache/
nbproject/
nbbuild/
nbdist/
.nb-gradle/
build/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs e temporários
*.log
*.tmp
